# Ignore objects files
objs/

# Ignore binary files created at last
bin/

# Ignore binary
run-g
run

# Ignore GNUmakefile, as configure.sh will generate it each time
# make search files in order: GNUmakefile --> makefile --> Makefile
GNUmakefile
